Knowledge Graph Workflow (LightRAG).json
{
  "name": "Knowledge Graph - TheAIAutomators - SOTA RAG Sub-workflow - v1.1 Blueprint",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "record_manager_item_json",
              "type": "object"
            },
            {
              "name": "record_manager_item_json_hash"
            },
            {
              "name": "new_hash"
            },
            {
              "name": "doc_id"
            },
            {
              "name": "text"
            },
            {
              "name": "supabase_row_id",
              "type": "number"
            },
            {
              "name": "graph_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -48
      ],
      "id": "7421d5ee-1744-47b9-a1dd-b9a1d8959a81",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Data').item.json.lightrag_url }}/documents/text ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_source\": \"{{ $('When Executed by Another Workflow').item.json.doc_id }}\",\n  \"text\": {{ JSON.stringify($('When Executed by Another Workflow').item.json.text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        -80
      ],
      "id": "a2761350-cfe3-4e35-80e7-db514990d070",
      "name": "Insert Into Knowledge Graph",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ASaNYCEZJOKUmtf9",
          "name": "LightRAG on Render 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Set Data').item.json.lightrag_url }}/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        -80
      ],
      "id": "5f2a22d5-adc6-4b84-aa52-3179f9836809",
      "name": "Fetch Documents",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ASaNYCEZJOKUmtf9",
          "name": "LightRAG on Render 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and search for document by file_path\nfor (const item of $input.all()) {\n  // Set your target file path here - you can modify this or make it dynamic\n  const targetFilePath = $('When Executed by Another Workflow').first().json.doc_id; // Change this to your desired file path\n  \n  // Alternative: Get file_path from a parameter or previous node\n  // const targetFilePath = $parameter[\"file_path\"]; // If using a parameter\n  // const targetFilePath = item.json.searchFilePath; // If coming from previous node\n  \n  // Get the statuses object\n  const statuses = item.json.statuses;\n  \n  let foundId = null;\n  let foundDocument = null;\n  \n  // Loop through all status keys dynamically (PENDING, PROCESSED, etc.)\n  for (const statusKey in statuses) {\n    const documentsArray = statuses[statusKey];\n    \n    // Make sure it's an array before looping\n    if (Array.isArray(documentsArray)) {\n      // Loop through each document in this status array\n      for (const document of documentsArray) {\n        if (document.file_path === targetFilePath) {\n          foundId = document.id;\n          foundDocument = document;\n          break;\n        }\n      }\n    }\n    \n    // If we found it, break out of the outer loop too\n    if (foundId) {\n      break;\n    }\n  }\n  \n  // Add the results to the item\n  item.json.foundDocumentId = foundId;\n  item.json.foundDocument = foundDocument; // Optional: include full document object\n  item.json.searchedFilePath = targetFilePath; // Optional: track what was searched\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -80
      ],
      "id": "9bd60b14-a88f-4336-8837-fad3e959ef73",
      "name": "Get ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.record_manager_item_json }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "ad01f150-f021-454c-aa13-eea5b26c2cba"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dcd400bc-0b91-4c30-81bd-da402e4a2730",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.record_manager_item_json_hash }}",
                    "rightValue": "={{ $('When Executed by Another Workflow').item.json.new_hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca0c7ef8-09f9-4424-947b-8469b1ed8cac",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.record_manager_item_json_hash }}",
                    "rightValue": "={{ $('When Executed by Another Workflow').item.json.new_hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -32,
        -64
      ],
      "id": "698fa0c2-0198-48e2-9e00-c9adae6d1f06",
      "name": "Handle Graph Updates",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.supabase_row_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "graph_id",
              "fieldValue": "={{ $json.foundDocumentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        -80
      ],
      "id": "debf788a-ae4f-44e3-81e2-df2fd5753d19",
      "name": "Update our Record Manager1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "XIZ1OT7kALq5GGuA",
          "name": "SOTA Version 2.2"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        -80
      ],
      "id": "fbb3b3ec-7189-428b-b989-73693f98595b",
      "name": "Wait",
      "webhookId": "3220a753-305b-42b4-b266-afc8912e1a09"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Set Data').item.json.lightrag_url }}/documents/delete_document",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doc_ids\": [\n    \"{{ $('When Executed by Another Workflow').item.json.graph_id}}\"\n  ],\n  \"delete_file\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        336
      ],
      "id": "1aef21fa-dee9-4deb-8ea0-3c5bc3a319d3",
      "name": "Delete from Knowledge Graph",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ASaNYCEZJOKUmtf9",
          "name": "LightRAG on Render 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Set Data').item.json.lightrag_url }}/documents/pipeline_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        336
      ],
      "id": "94c9f4ef-a99d-4b9b-95db-5e1fab020453",
      "name": "Check Pipeline Status",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ASaNYCEZJOKUmtf9",
          "name": "LightRAG on Render 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        336
      ],
      "id": "fac46827-2536-495c-a72e-4bf2428b6e23",
      "name": "Wait1",
      "webhookId": "293667d7-cbc0-47c0-9aa5-da9a26bb9221"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "012c16d2-28ca-40e3-9172-a98f8f748957",
              "leftValue": "={{ $json.busy }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        336
      ],
      "id": "15578840-2b35-4e1c-b4c1-d8af6b56515b",
      "name": "If Deleted"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17187342-26a5-4c05-875b-1a814b8cefbd",
              "name": "lightrag_url",
              "value": "<ADD URL>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -48
      ],
      "id": "0713a565-8cac-4f9f-a93c-0459b03464b2",
      "name": "Set Data"
    },
    {
      "parameters": {
        "content": "@[youtube](EUG65dIY-2k)",
        "height": 272,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -496
      ],
      "id": "a472b872-d868-490b-8ea7-e610e1187a4e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)",
        "height": 188,
        "width": 460,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -704
      ],
      "id": "eea9b74f-183d-426c-8213-714c1ad4f5b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TODO\n### Add LightRAG URL without the trailing slash\n",
        "height": 284,
        "width": 232
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -160
      ],
      "id": "9b928303-2b0f-4335-b921-75dc26641034",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d022e79-b19a-4d4b-8e64-eeea2d7500a5",
              "leftValue": "={{ $json.record_manager_item_json.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2a5fdcd6-162b-4f6b-ae1a-4b808619ef18",
              "leftValue": "={{ $json.record_manager_item_json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "4b4d7007-b283-4b87-a7a4-91f50411f3fa",
      "name": "If Record is Complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "748bb390-3346-4647-8556-81258adf90c5",
              "leftValue": "={{ $json.record_manager_item_json.graph_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        64
      ],
      "id": "5c4fe043-cfeb-446a-b123-7c8a8e4eb6ef",
      "name": "If Graph ID Set"
    }
  ],
  "pinData": {},
  "connections": {
    "Insert Into Knowledge Graph": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Documents": {
      "main": [
        [
          {
            "node": "Get ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ID": {
      "main": [
        [
          {
            "node": "Update our Record Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Graph Updates": {
      "main": [
        [
          {
            "node": "Insert Into Knowledge Graph",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Record is Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete from Knowledge Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from Knowledge Graph": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pipeline Status": {
      "main": [
        [
          {
            "node": "If Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Deleted": {
      "main": [
        [
          {
            "node": "Insert Into Knowledge Graph",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Handle Graph Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Record is Complete": {
      "main": [
        [],
        [
          {
            "node": "If Graph ID Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Graph ID Set": {
      "main": [
        [
          {
            "node": "Insert Into Knowledge Graph",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete from Knowledge Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8162dda-5e94-44b6-8521-f9eb28d06f2a",
  "meta": {
    "instanceId": "b5d1ea132a4e071e6288b3143f31284b91560858bdef3f0c88a49f587fc91a29"
  },
  "id": "A6uZWZp8UkcxmaZp",
  "tags": [
    {
      "createdAt": "2025-05-12T13:43:59.783Z",
      "updatedAt": "2025-05-12T13:43:59.783Z",
      "id": "d3ygIhrGjDmzgrW0",
      "name": "TheAIAutomators.com"
    }
  ]
}