Zep Update Long-Term Memories Sub-workflow.json
{
  "name": "Zep - Update Long Term Memories v1.2 (ZEP V3 API)- RAG SOTA - BLUEPRINT",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.getzep.com/api/v2/threads/{{ $('When Executed by Another Workflow').item.json.session_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify( $('When Executed by Another Workflow').item.json.message_content) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        -192
      ],
      "id": "83ac2edb-986d-4b16-82f1-daca241b0ce3",
      "name": "Update Long Term Memories",
      "retryOnFail": false,
      "credentials": {
        "zepApi": {
          "id": "lGWdzUJKbAFBqqTT",
          "name": "Zep Api account"
        },
        "httpHeaderAuth": {
          "id": "7Hvk0jyX94eRC3jd",
          "name": "Zep Account (AW)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.getzep.com/api/v2/threads/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"thread_id\": \"{{ $('When Executed by Another Workflow').item.json.session_id }}\",\n  \"user_id\": \"{{ $('When Executed by Another Workflow').item.json.user_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -144
      ],
      "id": "52a86362-59e3-493f-a3c1-ecaf33adaadd",
      "name": "Create new Zep thread for User",
      "retryOnFail": true,
      "credentials": {
        "zepApi": {
          "id": "lGWdzUJKbAFBqqTT",
          "name": "Zep Api account"
        },
        "httpHeaderAuth": {
          "id": "7Hvk0jyX94eRC3jd",
          "name": "Zep Account (AW)"
        }
      },
      "onError": "undefined"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "session_id"
            },
            {
              "name": "user_id"
            },
            {
              "name": "message_content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        -192
      ],
      "id": "f14610df-4275-4db3-9a05-e84b782c86f9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)",
        "height": 140,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -400
      ],
      "id": "f3ade494-8a95-4265-9237-ddc8e37956e6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.getzep.com/api/v2/threads/{{ $('When Executed by Another Workflow').item.json.session_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify( $('When Executed by Another Workflow').item.json.message_content) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "9376d929-665a-4b11-8604-f13880f15875",
      "name": "Retry Add Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -144
      ],
      "retryOnFail": true,
      "credentials": {
        "zepApi": {
          "id": "lGWdzUJKbAFBqqTT",
          "name": "Zep Api account"
        },
        "httpHeaderAuth": {
          "id": "7Hvk0jyX94eRC3jd",
          "name": "Zep Account (AW)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Updated for Zep v3\nNote: We've updated this subworkflow for the v3 version of the Zep API SDK (the Zep v3 update still uses v2 in the URL endpoints). In this implementation we're first trying to add the message and if a thread doesn't exist, it will create the thread and try again. You could alternatively store the user threads once saved in Zep in Supabase or a data table.",
        "height": 208,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -400
      ],
      "typeVersion": 1,
      "id": "63575f73-5ecb-4c2c-b660-a91f2b876585",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Update Long Term Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Long Term Memories": {
      "main": [
        [],
        [
          {
            "node": "Create new Zep thread for User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new Zep thread for User": {
      "main": [
        [
          {
            "node": "Retry Add Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "de0936bb-fafa-4c2b-a409-d8755bcd2a25",
  "meta": {
    "instanceId": "b5d1ea132a4e071e6288b3143f31284b91560858bdef3f0c88a49f587fc91a29"
  },
  "id": "tFyYUJdsqKBNGPk5",
  "tags": [
    {
      "updatedAt": "2025-05-12T13:43:59.783Z",
      "createdAt": "2025-05-12T13:43:59.783Z",
      "id": "d3ygIhrGjDmzgrW0",
      "name": "TheAIAutomators.com"
    }
  ]
}